<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>


<body>

    <div id="app">
        <p>{{msg}}</p>
        <input type="text" v-model="msg">

        <br>
        1<input type="radio" name="a" value="ss1" v-model="s">
        2 <input type="radio" name="a" value="ss2" v-model="s">
        {{s}}

        <br>
        <div v-if="s==='ss1'">
            <select name="b" v-model="w">
                <option value="f1">f1</option>
                <option value="f2">f2</option>
            </select>
            {{w}}
        </div>

        <br>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>

        <br>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>

    <script src="../js/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                msg: "圣诞节",
                s: "",
                w: "",
                checked: true,
                checkedNames: []
            },
            methods: {

            }
        })

    </script>
</body>

</html>