<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>form</title>
</head>


<body>

<div id="app">
  <p>{{errmsg}}</p>
  <label>
    name
    <input type="text" v-model="hall.name">
  </label>
  <label>
    seats
    <input type="text" v-model="hall.seats">
  </label>
  <button @click="sub">提交</button>
</div>

<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script>
  const app = new Vue({
    el: "#app",
    data: {
      hall:{
        name: "",
        seats: "",
      },
      errmsg:"",

    },
    methods: {
      sub(){
        if (this.hall.name!==""&&this.hall.seats!==""){
          axios.post("http://localhost:8080/movie/hall/addHall"
                  , this.hall).then((res) => {
                    console.info(res.data);
                    if (res.data.success) {
                      this.errmsg= res.data.message;
                    } else {
                      this.errmsg = res.data.message;
                    }
                  }
          )
        }else {
          alert("空的")
        }

      }
    }
  });

</script>
</body>

</html>