<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/axios.min.js"></script>
    <title>首页</title>
</head>

<body>
    <div id="app">
        <h1>首页</h1>
    <!-- 如果没有登录 -->
    <a v-if="!islogin" href="./user/userlogin.html">登录</a>
    <!-- 对应已经登录的 -->
    <div v-if="islogin">
        欢迎 {{username}}
    </div>
    <a href="./home/movieinfo.html">我的电影院</a>
    </div>
</body>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            islogin: false,
            username:"",

        },
        created() {
            this.check()
        },
        methods: {
            check() {
                var u = this.getCookie("username")
                var p = this.getCookie("password")
                if (u != "" && u != undefined && p != "" && p != undefined) {
                    this.islogin=true
                    this.username = u
                    this.password = p
                    
                }
            },
            getCookie(name) {
                var strCookies = document.cookie;
                var array = strCookies.split('; ');
                for (var i = 0; i < array.length; i++) {
                    var item = array[i].split("=");
                    if (item[0] == name) {
                        return item[1];
                    }
                }
                return null;
            }
        }
    })
</script>

</html>