<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.movie.dao.HallMapper">
    <insert id="save">
        insert into tb_hall (id,name,seats,status)
        values (#{id},#{name},#{seats},#{status})
    </insert>
    <delete id="delete">
        delete from tb_hall where id=#{id}
    </delete>
    <select id="findAll" resultType="com.example.movie.pojo.Hall">
        select * from tb_hall
    </select>
</mapper>