<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.movie.dao.PlanMapper">
    <insert id="save">
        insert into tb_plan (id, playtime, price, seats, status, hall_id, movie_id)
        VALUES (null,#{playtime},#{price},#{seats},#{status},#{hall_id},#{movie_id})
    </insert>
</mapper>