<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>后台-管理员登录</title>
</head>
<body>
    <div id="app">
        <h4>后台登录</h4>
        <span style="color: red">
            {{errmsg}}
        </span>
        <form action="" method="post">
            <label>
                <span class="label-text">账号</span>
                <input type="text" name="name" v-model="admin.name">
            </label>
            <br>
            <label>
                <span class="label-text">密码</span>
                <input type="password" name="pwd" v-model="admin.pwd">
            </label>
            <br>
            <button type="button" @click="login">登录</button>
        </form>
    </div>

    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                errmsg: "",
                admin: {}
            },
            methods: {
                login() {
                    axios.post("http://localhost:8080/movie/admin/login"
                        , this.admin).then((res) => {
                            console.info(res.data);
                            if (res.data.success) {
                                location.href = "index.html";
                            } else {
                                this.errmsg = res.data.message;
                            }
                        }
                        )
                }
            }
        })
    </script>
</body>

</html>