<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>影片列表</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">

    <script src="../js/jquery-3.3.1.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/axios.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap.bundle.js"></script>
</head>
<style>
   
</style>

<body>
    <div id="app">
        <span class="badge badge-info">{{errmsg}}</span>
        <div class="page-header">
            <h2 class="text-center text-primary">电影列表</h2>
        </div>
        <span>共{{totals}}条数据</span>
        <div class="d-flex justify-content-around">
            <div v-for="i in movieList" class="card col-5 border border-info rounded ">
                <h4 class="card-title">{{i.name}}</h4>
                <img class="card-img-top"  v-if="inc(i.img)" :src="'../'+i.img" alt="">
                
                <div class="card-body">
                    <p>
                        <span class="text-info"> 描述:</span>
                        {{i.description}}
                    </p>
                    <p>
                        <span class="text-info">导演:</span>
                        {{i.director}} |
                        <span class="text-info"> 作者:</span>
                        {{i.writer}}
                        </span>
                    </p>
                    <p>
                        <span class="text-info">演员:</span>
                        {{i.actor}} |
                        <span class="text-info"> 类型:</span>
                        {{i.type}}
                    </p>
                    <p>
                        <span class="text-info"> 地区:</span>
                        {{i.area}} |
                        <span class="text-info"> 语言:</span>
                        {{i.language}}
                    </p>
                    <p>
                        <span class="text-info"> 上映时间:</span>
                        {{i.showtime.split("T")[0]}} |
                        <span class="text-info"> 长度:</span>
                        {{i.length}}
                    </p>
                    <p> <span class="text-info"> 分数:</span>
                        {{i.grade}} | {{i.status}}
                    </p>
                    <p> <span class="text-info"> 链接:</span>
                        {{i.link}}
                    </p>
                    <div>
                        <button class="btn btn-success float-left " @click="change(i.id)">修改</button>
                        <button class="btn btn-danger float-right " @click="del(i.id)">删除</button>
                    </div>
                </div>

            </div>
        </div>

        <nav  class="m-2">
            <ul class="pagination justify-content-center">
                <li class="page-item" :class="{'disabled':pageNum==1}">
                    <a href="#" @click="findall(pageNum-1)" class="page-link">&laquo;</a>
                </li>
                <li class="page-item" v-for="indexPage in totalPage" :key="indexPage"
                    :class="{'active':pageNum==indexPage}">
                    <a href="#" @click="findall(indexPage)" class="page-link">{{indexPage}}</a>
                </li>
                <li class="page-item" :class="{'disabled':pageNum==totalPage}">
                    <a href="#" @click="findall(pageNum+1)" class="page-link">&raquo;</a>
                </li>
            </ul>

        </nav>
    </div>
</body>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            baseurl: 'http://localhost:8080/movie/',
            movieList: [],
            errmsg: "",

            pageNum: 1,
            pageSize: 2,
            totalPage: 0,
            totals: 0,
        },
        created() {
            this.findall(this.pageNum)
        },
        mounted() {

        },
        methods: {
            change(id) {
                console.log("修改" + id);
            },
            del(id) {
                console.log("删除" + id);
            },
            inc(i) {
                if (i == null) {
                    return false
                } else {
                    a = i.indexOf('upload')
                    if (a == 0) {
                        return true
                    } else {
                        return false
                    }
                }
            },
            findall(indexPage) {
                if (indexPage) {
                    this.pageNum = indexPage
                }
                axios.get(this.baseurl+"movie/findByPage?pageNum="
                    + this.pageNum + "&pageSize=" + this.pageSize)
                    .then((res) => {
                        console.info(res.data);
                        if (res.data.success) {
                            this.errmsg = res.data.message;
                            this.movieList = res.data.data.movieList
                            this.pageNum = res.data.data.pageNum
                            this.totals = res.data.data.totals
                            this.totalPage = res.data.data.totalPage
                        } else {
                            this.errmsg = res.data.message;
                        }
                    })
            }

        }
    });

</script>

</html>